# Ignore config.php inside includes directory
includes/config.php
.htaccess

# Ignore everything in the includes/images/ directory
/includes/images/


# Other patterns to ignore (if needed)
# file.txt
# directory/