<IfModule mod_php.c>
php_value session.cookie_lifetime 28800
php_value session.gc_probability 1
php_value session.gc_divisor 100
</IfModule>

RewriteEngine On

# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Serve images without file extensions
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.png -f [OR]
RewriteCond %{REQUEST_FILENAME}.jpg -f [OR]
RewriteCond %{REQUEST_FILENAME}.jpeg -f
RewriteRule ^(.+)$ $1.png [NC,L]

# Rewrite clean URLs to their corresponding PHP files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^home$ home.php [L]
RewriteRule ^about$ about.php [L]
# Add more rules for other pages as needed

# Serve PHP files without file extensions
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
